@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  box-sizing: border-box;
}

.user-image{
  width: 200px;
  height: auto;
  border-radius: 5px;
}

#userInfo{
  background-color: rgb(29, 29, 29);
  min-height: 300px;
  border-bottom: 10px solid #2e2e2e;
}

.user-flex{
  text-align: center;
  align-items: center;
  width: 100%;
}

#portfolio{
  background-color: rgb(151, 151, 151);
  max-height: none;
  overflow-y: hidden;
  margin: 0;
}

.card-img-top{
  height: 200px;
  border-bottom: #1d1d1d;
}

.card{
  transition: 1s;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.02);
}


@media (min-width: 990px) {
  .user-flex{
    align-items: start;
    text-align: start;
  }
  #userInfo{
    border-right: 10px solid #2e2e2e;
    border-bottom: 0px solid transparent;
  }
  #portfolio{
    min-height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1d1d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
